@import '../../style/variables.scss';
@import '../../style//mixins.scss';

.cart {
    margin-bottom: 274px;

    &__title {
        font-size: 3.2rem;
        margin-bottom: 55px;
    }

    &-empty__text {
        font-size: 4.2rem;
    }

    &__count {
        display: grid;
        grid-template-columns: min-content min-content;
        column-gap: 5px;
        margin: 32px 0 20px;
        font-size: 2.4rem;
        line-height: 3.6rem;
        font-weight: 500;

        &__number {
            font-weight: 700;
        }
    }

    &__order-btn {
        @include btn-green(43px, 279px, 1.4rem);
    }
}

.minicart {
    min-width: 325px;
    padding: 32px 16px;
    font-size: 1.6rem;
    line-height: 2.6rem;
    max-height: calc(100vh - 80px);
    overflow-y: auto;

    @include customScroll;

    &__title {
        margin-bottom: 32px;
        font-weight: 500;
    }

    .cart__list.mini-cart {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        margin-bottom: 32px;
    
        .cart__item {
            grid-template-columns: 136px 24px 121px;
            column-gap: 8px;
            padding: 0;
            border: 0;

            .item__description {
                &__title, &__brand {
                    font-size: 1.6rem;
                    line-height: 2.56rem;
                    font-weight: 300;
                    margin: 0;
                }
            
                &__price {
                    margin: 4px 0 0 0;
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 2.6rem;
                }
            
                .attribute-block {
                    margin-top: 8px;
            
                    &__title {
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        font-weight: 400;
                        text-transform: unset;
                    }
                    &__item {
                        @include btn-white-black(24, 24, 1.4);

                        &-color {
                            @include btn-color(16px);
                        }
                    }
                }
            }
            
        
            &__counter {
                &__btn {
                    @include btn-white-black(24, 24, 1.4);
                }

                &__count {
                    font-size: 1.6rem;
                }
            }
        
            &__img {
                max-height: 190px;
            }
        }
    }

    &__count{
        margin-bottom: 34px;
        display: flex;
        justify-content: space-between;

        &__total {
            font-size: 1.6rem;
            line-height: 1.8rem;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
        }

        &__number {
            font-weight: 700;
        }
    }


    &__btns-wrapper {
        .btn-green{
            @include btn-green(43px, 140px, 1.4rem);
        }

        .btn-white {
            @include btn-white-black(43, 140, 1.4) {
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
            };
        }
    }
}