@import '../../assets/style/mixins';


.products__card {
    padding: 16px;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    line-height: 2.9rem;
    transition: 0.3s box-shadow;
    cursor: pointer;

    &__img {
        object-fit: contain;
    }

    .products__card__img-wrapper {
        .products__card__cart-btn {
            opacity: 0;
            position: absolute;
            top: calc(100% - 26px);
            right: 15px;
            width: 52px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items:center;
            border-radius: 100%;
            background-color: $primary--color;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.2);
            }
            &__img {
                width: 50%;
                height: 50%;
            }
        }
    }

    &:hover, &:focus {
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
        .products__card__img-wrapper {
            .products__card__cart-btn {
                opacity: 1;
            }
        }
    }

    .products__card__img-wrapper {
        .products__card__cart-btn:focus {
            opacity: 1;
        }
    }

    &__img-wrapper {
        position: relative;
        width: 100%;
        height: 338px;
        margin-bottom: 24px;

        &::after {
            position: absolute;
        }
    }

    &__title {
        font-weight: 300;
    }

    &__price {
        font-weight: 500;
    }

    &.out-of-stock {
        background-color: rgba(256, 256, 256, 0.5);
        
        .products__card__img-wrapper::after {
            content: 'out of stock';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-transform: uppercase;
            font-size: 2.4rem;
            color: #8D8F9A;
        }
        
        .products__card__title, .products__card__price, .products__card__img {
            opacity: 0.5;
        }

        &:hover {
            .products__card__img-wrapper {
                .products__card__cart-btn {
                    opacity: 0;
                }
            }
        }
    }
}