@import '../../assets/style/mixins';

.cart__item {
    display: grid;
    grid-template-columns: 1fr auto 200px;
    column-gap: 39px;
    padding: 24px 0 32px;
    border-top: 1px solid #E5E5E5;
    object-fit: contain;

    &:last-child{
        border-bottom: 1px solid #E5E5E5;
    }

    &__counter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &__btn {
            @include btn-white-black(45, 45);
        }

        &__count {
            font-weight: 500;
            font-size: 2.4rem;
        }
    }

    &__img {
        max-height: 288px;
        object-fit: contain;
    }
}

.mini-cart {
    .cart__item {
        grid-template-columns: 136px 24px 121px;
        column-gap: 8px;
        padding: 0;
        border: 0;

        .item__description {
            &__title, &__brand {
                font-size: 1.6rem;
                line-height: 2.56rem;
                font-weight: 300;
                margin: 0;
            }
        
            &__price {
                margin: 4px 0 0 0;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.6rem;
            }
        
            .attribute-block {
                margin-top: 8px;
        
                &__title {
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                    font-weight: 400;
                    text-transform: unset;
                }
                &__item {
                    @include btn-white-black(24, 24, 1.4);

                    &-color {
                        @include btn-color(16px);
                    }
                }
            }
        }
        
    
        &__counter {
            &__btn {
                @include btn-white-black(24, 24, 1.4);
            }

            &__count {
                font-size: 1.6rem;
            }
        }
    
        &__img {
            max-height: 190px;
        }
    }
}
